/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* regole generali */
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 25px;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.grey {
    background-color: lightgrey;
}

.purple-bold {
   color: #768AD7;
   font-weight: bold;
   font-size: 15px;
}

/* regole generali bottoni */
.bottone {
    padding: 10px 15px;
    border-radius: 20px;
}

.bottone-sm {
    padding: 7px 10px;
    border-radius: 20px;   
}

/* header */
#header-bar {
    /* debug 
    background-color: aquamarine;*/
    background-color: #3160e0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation-bar {
    /* debug 
    background-color: yellow;
    */
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.nav-items {
    width: 20%;
}

.nav-items ul {
    display: flex;
    justify-content: center;
}

.nav-items img {
    width: 100px;
}

#login {
    text-align: right;
    color: black;
}

#login button {
    background-color: white;
    border: 1px solid white;
}

.lista {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-grow: 1;
}

/* Jumbotron */
#jt-background {
    /* debug 
    background-color: blue;*/
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 490px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* jumbotron contenuto interno */
#jt-container {
    /* debug
    background-color: hotpink;*/
    color: white;
    text-align: center;
    height: 60%;
    width: 40%;
}

#jt-container p {
    line-height: 25px;
    margin-bottom: 15px;
}

/* bottoni jumbotron*/
#jt-download {
    border: 1px solid white;
    font-size: 14px; 
}

#jt-apri {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-left: 10px;
    font-size: 14px;
}

/*main*/

.main-section {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contenitore principale */
.main-container {
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
}

/* contenitori interni main */
.large-container {
    /* debug 
    background-color: blue;*/
    width: 75%;
}

.small-container {
    /* debug 
    background-color: pink;*/
    width: 25%;
    padding-top: 30px;
}

.main-container p {
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    padding-left: 25px;
}

/* sezione xlarge */
.xlarge-section {
    min-height: 950px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.xlarge-container {
    /* debug 
    background-color: green; */
    height: 90%; 
    width: 70%;
}

.xlarge-container img {
    width: 80%;
}

.xlarge-container h2 {
    margin: 30px;
    
}

.xlarge-container h3 {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    margin-bottom: 20px;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    
}

.xlarge-container p {
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* bottone main */

.xlarge-container button {
    background-color: #8EA2E0;
    color: white;
    border: 1px solid #8EA2E0;
}


/* footer */
footer {
    background-color: rgb(36, 36, 36);
}

#contatti {
    height: 500px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;       
}

.footer-container {
    height: 80%;
    width: 70%;
    display: flex;
}

.footer-item-sm {
    /* debug 
    background-color: salmon;*/
    width: 30%;
}

.footer-item-lg {
    /* debug 
    background-color: cadetblue;*/
    flex-grow: 1;
    display: flex;
}

.col-large {
   /* debug 
    border: 1px dotted white;*/
    height: 100%;    
    width: 25%; 
}

 .footer-item-sm h3 {
    color: #768AD7;
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 23px;
 }


span {
    color: white;
    font-size: 12px;
}

#flag {
    width: 30px;
    vertical-align: middle;
}

.icone {
    color: white;
    margin-top: 10px;
}

.fa-brands {
    margin-right: 10px;
    margin-top: 10px;
}
    
.col-large ul {
    line-height: 30px;
}

/* icone footer */
#footer-icone {
    height: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

#barra-icone {
    /* debug 
    background-color: aquamarine;*/
    min-height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid lightgrey;
    padding-top: 20px;
}

#footer-icone button {
    background-color: #8EA2E0;
    color: white;
    border: 1px solid #8EA2E0;
} 
