/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* regole generali*/
h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

ul {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.grey {
    background-color: lightgrey;
}

.bottone {
    padding: 10px 15px;
    border-radius: 20px;
}

.bottone-sm {
    padding: 7px 10px;
    border-radius: 20px;   
}

/* header */
#header-bar {
    /* debug 
    background-color: aquamarine;*/
    background-color: #3160e0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation-bar {
    /* debug 
    background-color: yellow;
    */
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 
.nav-items {
    width: 20%;
}

.nav-items img {
    width: 100px;
}

#login {
    text-align: right;
    color: black;
}

#login button {
    background-color: white;
    border: 1px solid white;
}

.lista {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-grow: 1;
}

/* Jumbotron */
#jt-background {
    /* debug 
    background-color: blue;*/
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 490px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#jt-container {
    /* debug
    background-color: hotpink;*/
    color: white;
    text-align: center;
    height: 60%;
    width: 40%;
}

#jt-download {
    border: 1px solid white;
    font-size: 14px; 
}

#jt-apri {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-left: 10px;
    font-size: 14px;
}

#jt-container p {
    line-height: 25px;
    margin-bottom: 15px;
}

/*main*/

.main-section {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    /* debug */
    background-color: blue;
    height: 90%;
    width: 50%;
    display: flex;
}

.large-container {
    flex-grow: 1;
}

.small-container {
    /* debug */
    background-color: pink;
    width: 40%;
}

/* sezione xlarge */
.xlarge-section {
    height: 550px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.xlarge-container {
    /* debug */
    background-color: green;
    height: 90%; 
    width: 50%;
}

/* footer */
footer {
    background-color: rgb(36, 36, 36);
}

#contatti {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;       
}

.footer-container {
    height: 90%;
    width: 50%;
    display: flex;
}

.footer-item-sm {
    /* debug */
    background-color: salmon;
    width: 30%;
}

.footer-item-lg {
    /* debug */
    background-color: cadetblue;
    flex-grow: 1;
    display: flex;
}

.col-large {
    /* debug */
    height: 100%;
    border: 1px dotted white;
    width: 25%;
}

/* icone footer */

#footer-icone {
    height: 40px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

#barra-icone {
    /* debug */
    background-color: aquamarine;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

